---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Carlos Peláez. Empecé en la
              programación con cursos presenciales (HTML, CSS3, JavaSript y SQL), tenía 18 años. Actualmente estoy 
              <strong class="text-cyan-500 dark:text-cyan-200 font-normal font-mono">
                encargado del área de área de IT, o tecnologías de la información y la comunicación de 4 empresas asociadas
              </strong>.
    </p>

    <p>
      Algunos de mis trabajos incluyen <strong class="text-cyan-500 dark:text-cyan-200 font-normal font-mono">Desarrollo completo de páginas E-commerce, con diseños y funcionalidades personalizadas en Wordpress
        con Woocommerce, usando <span class="text-pink-500 dark:text-pink-200 font-normal font-mono">Elementor</span>, <span class="text-orange-500 dark:text-orange-200 font-normal font-mono">HTML</span>, 
        <span class="text-purple-500 dark:text-purple-200 font-normal font-mono">PHP</span>, <span class="text-blue-500 dark:text-blue-200 font-normal font-mono">CSS</span>, <span class="text-purple-500 dark:text-purple-200 font-normal font-mono">Bootstrap</span>,
        <span class="text-yellow-500 dark:text-yellow-200 font-normal font-mono">JavaScript</span> y GIMP como herramienta de diseño gráfico. 
        También el desarrollo de un AI Chatbot de WhatsApp con <span class="text-green-500 dark:text-green-200 font-normal font-mono">Node.js</span> y 
        <span class="text-blue-500 dark:text-blue-200 font-normal font-mono">TypeScript</span>, empleando la librería <a class="text-green-500 dark:text-green-200 font-normal font-mono" target="_blank" rel="noopener" href="https://www.builderbot.app/en">BuilderBot</a></strong>. 
        Proyectos que al día de hoy se encuentran en línea operando, y constantemente innovando con nuevas herramientas.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
