---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Septiembre 2024",
    title: "Senior Woocommerce - La Brioche Cafe, C.A.",
    company: "La Brioche Coffe and Market - Le Petit Brioche",
    description:
      "Responsable de la plataforma, desarrollo, mantenimiento e actualización, modificación de plugins y más en aplicación web Woocommerce de 2 pizzerias con delivery, Actualmente trabajando en un nuevo proyecto para incluir una tercera sede y mejoras.",
    link: "https://le-petit.labrioche.com.ve/",
  },
  {
    date: "Agosto 2024",
    title: "Desarrollo Senior de tienda online con más de 1000 productos",
    company: "Granos Selectos Guayana, C.A.",
    description:
      "Responsable del desarrollo de la plataforma, componentes, utilidades para la creación, desarrollo, migración y ejecución de aplicacion web woocommerce con mas de 1000 productos. Mejora de un 30% en la entrega de software. Implantación de medidas de actualización continua y interfaz gráfica amigable y vistosa.",
      link: "https://youtube.com/playlist?list=PLnoGIB1puZZrMF2ScxwM3q6QueMJLKu9o&si=Zl-sNB-f9QJz-thV",
  },
  {
    date: "mayo 2024",
    title: "Chatbot de WhatsApp con IA (ChatGPT) en node.js",
    company: "Le Petit Brioche",
    description:
      "Responsable del desarrollo de un Chatbot con IA para WhatsApp, con Node.js, implementando la librería BuilderBot con typeScript, y la API de ChatGPT para atención personalizada",
  },
  {
    date: "Abril 2021",
    title: "Junior Woocommerce/Flutter",
    company: "Bipeers Venezuela",
    description:
      "Mantenimiento, soporte, diseño, importación e actualización (carga de productos) de datos en distintas tiendas online WooCommerce, soporte de app flutter con firebase y creación y diseño de páginas Bio-Link",
    link: "https://bipeers.cloud/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
